<h2>Region</h2>

<ul>
  <li><span>Name:</span> <%= @region.name %></li>
  <li><span>Surfline ID:</span> <%= @region.surfline_id %></li>
</ul>

<span>
  <%= link "Sub Regions", to: area_region_sub_region_path(
    @conn,
    :index,
    @area.surfline_id,
    @region.surfline_id
  ) %>
</span>
<span><%= link "Back", to: area_region_path(@conn, :index, @area.surfline_id) %></span>
