<h2>Sub Region</h2>

<ul>
  <li><span>ID:</span> <%= @sub_region.surfline_id %></li>
  <li><span>Name:</span> <%= @sub_region.name %></li>
</ul>

<span>
  <%= link "Back", to: area_region_sub_region_path(
    @conn,
    :index,
    @area.surfline_id,
    @region.surfline_id
  ) %>
</span>
